---
import type { GetStaticPaths } from "astro";
import HomePage from "/presentation/components/HomePage/index.astro";
import Layout from "/presentation/layouts/Layout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Page as PageDomain } from "/domain/models/page/Page";
import { GetPostData } from "/usecase/getPostData/GetPostData";
import { NewtArticleRepository } from "/infrastructure/newt/ArticleRepository";
import { NewtCategoryRepository } from "/infrastructure/newt/CategoryRepository";
import { NewtTagRepository } from "/infrastructure/newt/TagRepository";
import { NewtYearMonthRepository } from "/infrastructure/newt/YearMonthRepository";

export const getStaticPaths = (async ({ paginate }) => {
	const getPostData = new GetPostData(
		new NewtArticleRepository(),
		new NewtCategoryRepository(),
		new NewtTagRepository(),
		new NewtYearMonthRepository(),
	);
	const { categories, articles } = await getPostData.execute({
		page: new PageDomain(1),
	});
	const paths = categories.flatMap(({ id }) => {
		return paginate(
			articles
				.filter((article) => article.category.id === id)
				.map((article) => article.articleId),
			{ params: { category: id }, pageSize: 10 },
		);
	});
	return paths;
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { category: categoryId } = Astro.params;
const getPostData = new GetPostData(
	new NewtArticleRepository(),
	new NewtCategoryRepository(),
	new NewtTagRepository(),
	new NewtYearMonthRepository(),
);
const {
	articles,
	categories,
	tags,
	yearmonths,
	currentPage,
	currentPath,
	totalCount,
} = await getPostData.execute({ page: new PageDomain(page.currentPage) });
const category = categories.filter((cat) => cat.id === categoryId)[0];
---

<AstroSeo
	title="Asunaro Blog"
	description=`${category.name}カテゴリの記事一覧`
	openGraph={{
		title: "Asunaro Blog",
		description: `${category.name}カテゴリの記事一覧`,
		images: [
			{
				url: "https://storage.googleapis.com/p_641d41d3a492e5ac4c9226fe/3ab0e1e0-e610-4dc9-acb4-f7917add37b1/asunaro.png",
			},
		],
	}}
/>
<Layout>
	<main>
		<HomePage
			currentPage={currentPage}
			articles={articles}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
			category={category}
		/>
	</main>
</Layout>
