---
import Header from "../common/Header/index.astro";
import type { ArticleItem, CategoryItem, TagItem, YearMonthItem } from "/types";
import Pagination from "./Pagination"
import PostsList from "./PostsList/index.astro";
import Footer from "../common/Footer/index.astro";
import SideBar from "/components/common/SideBar/index.astro";
import { COLOR } from "/constants";

type Props = {
  pageNumber: number;
  blogs: ArticleItem[];
  categories: CategoryItem[];
  tags: TagItem[];
  yearmonths: YearMonthItem[];
  totalCount: number;
  categoryItem?: CategoryItem;
  tagItem?: TagItem;
  yearmonth?: string;
  statusCode?: number;
};

const props = Astro.props;

const dir = (() => {
  if (props.tagItem) {
    return `tag/${props.tagItem._id}`;
  } else if (props.categoryItem) {
    return `category/${props.categoryItem._id}`;
  } else if (props.yearmonth) {
    return `year/${props.yearmonth}`;
  } else {
    return "";
  }
})();
---

<div style={{ backgroundColor: COLOR.bgColor }}>
  <div class="relative z-10">
    <Header categories={props.categories} />
  </div>
  <div class="flex px-[32px] justify-center p-[32px] relative z-0">
    <div class="md:container grid grid-cols-1 lg:grid-cols-4 gap-6">
      <div class:list={["lg:col-span-3"]}>
          {props.tagItem && (
            <div class='mt-[16px] mb-[32px] text-center'>
              {props.blogs.length === 0 ? (
                <p class=''>該当するタグの記事はありません</p>
              ) : (
                <p>{props.tagItem.tag}に関する記事一覧</p>
              )}
            </div>
          )}
          {props.categoryItem && (
            <div class='my-12 text-center'>
              {props.blogs.length === 0 ? (
                <p>該当するカテゴリーの記事はありません</p>
              ) : (
                <p>
                  {props.blogs[0].category.displayedName}カテゴリの記事一覧
                </p>
              )}
            </div>
          )}
          {props.yearmonth && (
            <div class='my-12 text-center'>
              {props.blogs.length === 0 ? (
                <p>該当する期間の記事はありません</p>
              ) : (
                <p>{props.yearmonth}の記事一覧</p>
              )}
            </div>
          )}
          {props.statusCode && (
            <div>Error{props.statusCode}</div>
          )}
          {
            !props.statusCode && (
              <PostsList blogs={props.blogs} />
            )
          }
          { !props.statusCode && (
              <div
                style={{ marginTop: "50px", justifyContent: "center" }}
              >
                <Pagination
                  dir={dir}
                  pageNumber={props.pageNumber}
                  totalCount={props.totalCount}
                />
              </div>
            )
          }
      </div>
      <div class="lg:col-span-1 mt-20 lg:mt-0">
        <SideBar yearmonths={props.yearmonths} tags={props.tags} />
      </div>
    </div>
  </div>
  <div>
    <Footer categories={props.categories} />
  </div>
</div>
