---
import * as React from "react";
import Card from "@mui/material/Card";
import CardContent from "@mui/material/CardContent";
import CardMedia from "@mui/material/CardMedia";
import Button from "@mui/material/Button";
import Typography from "@mui/material/Typography";
import { Box, CardActionArea, Link as MuiLink } from "@mui/material";
import { convertDateFormat } from "/libs/convertDateFormat";
import { LocalOffer } from "@mui/icons-material";
import AccessTimeIcon from "@mui/icons-material/AccessTime";
import type { ArticleItem } from "/types";
import { Image } from 'astro:assets'

type Props = {
  blog: ArticleItem;
};

const props = Astro.props;
---

<Card
  className="post-card duration-[1000ms] hover:brightness-[0.8]"
  style={{
    display: "flex",
    flexDirection: "column",
  }}
>
  <a class="h-full" href={`/blog/${props.blog._id}`}>
    <div class="relative h-full">
      <figure class="image">
        <Image
          height='500'
          width="300"
          src={props.blog.coverImage.src}
          alt={props.blog.coverImage.altText}
          style={{ height: '230px', objectFit: 'cover' }}
        />
      </figure>
      <div class="mt-2 p-1">
        <div class="mx-5" style={{ fontSize: 20 }}>
          <p class="text-lg text-black">{props.blog.title}</p>
          <div
            style={{
              display: "flex",
              flexDirection: "column",
              alignItems: "start",
            }}
          >
            <button
              class="my-2 text-xs"
              style={{ textTransform: "none", display: "flex" }}
            >
              {props.blog.category.displayedName}
            </button>
            <div style={{ display: "flex", flexWrap: "wrap" }}>
              {
                props.blog.tags.map((tag) => (
                  <div
                    style={{ display: "flex", marginRight: "0.5em" }}
                  >
                    <LocalOffer
                      sx={{ fontSize: "1.25rem", marginRight: "0.05rem" }}
                    />
                    <p style={{ display: "inline-block" }}>
                      {tag.tag}
                    </p>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <div class="absolute bottom-2 flex p-1 pl-5 opacity-80">
        <AccessTimeIcon fontSize="small" className="opacity-80" />
        <p
          style={{ display: "inline-block", marginLeft: "2px" }}
        >
          {convertDateFormat(props.blog._sys.raw.firstPublishedAt)}
        </p>
      </div>
    </div>
  </a>
</Card>

<style lang="scss">
.post-card {
  height: 30rem;
  @media screen and (min-width: 630px) {
    height: 28rem;
  }
}
</style>
