---
import Layout from "../layouts/Layout.astro";
import HomePage from "../components/HomePage/index.astro";
import { AstroSeo } from "@astrolib/seo";
import { NewtArticleRepository } from "/infrastructure/newt/ArticleRepository";
import { GetArticleList } from "/usecase/getArticleList/GetArticleList";
import { NewtCategoryRepository } from "/infrastructure/newt/CategoryRepository";
import { NewtTagRepository } from "/infrastructure/newt/TagRepository";
import { NewtYearMonthRepository } from "/infrastructure/newt/YearMonthRepository";
import { Page } from "/domain/models/page/Page";

const page = new Page(1);
const getArticleList = new GetArticleList(
	new NewtArticleRepository(),
	new NewtCategoryRepository(),
	new NewtTagRepository(),
	new NewtYearMonthRepository(),
);
const {
	articles,
	categories,
	tags,
	yearmonths,
	currentPage,
	currentPath,
	totalCount,
} = await getArticleList.execute({ page });
---

<AstroSeo
	title="Asunaro Blog"
	description="広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。"
	openGraph={{
		title: "Asunaro Blog",
		description:
			"広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。",
		images: [
			{
				url: "https://storage.googleapis.com/p_641d41d3a492e5ac4c9226fe/3ab0e1e0-e610-4dc9-acb4-f7917add37b1/asunaro.png",
			},
		],
	}}
/>
<Layout>
	<main>
		<HomePage
			articles={articles}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			currentPage={currentPage}
			currentPath={currentPath}
			totalCount={totalCount}
		/>
	</main>
</Layout>
