---
import { ArrowForwardIos } from "@mui/icons-material";
import { usePagination } from "/hooks/usePagination";
import ArrowBackIosNewIcon from "@mui/icons-material/ArrowBackIosNew";
import PaginationItem from "./PaginationItem/index.astro";
import { COLOR } from "/constants";

type Props = {
  dir: string;
  pageNumber: number;
  totalCount: number;
};

const { dir, pageNumber, totalCount } = Astro.props;
const { pages, totalPages } = usePagination(pageNumber, totalCount);
---

<nav aria-label="Page navigation example">
  <ul class="pagination justify-center gap-x-1.5 flex">
    <PaginationItem
      to={`${dir}/${pageNumber - 1}`}
      disabled={pageNumber === 1 ? true : false}
      hover={pageNumber === 1 ? false : true}
    >
      <span
        class="material-icons"
        style={{
          fontSize: "16px",
          marginTop: "7px",
          color: COLOR.textColor.primary,
          opacity: pageNumber === 1 ? '0.4' : '1'
        }}
      >
        chevron_left
      </span>
    </PaginationItem>
    {
      pages.map((page) => {
        const to = (() => {
          if (dir === "") {
            return page === 1 ? `/` : `/${page}`;
          } else {
            return page === 1 ? `/${dir}` : `/${dir}/${page}`;
          }
        })();
        if (page === "...") {
          return (
            <li
              style={{
                padding: "10px 10px 0px 10px",
                color: COLOR.textColor.primary,
              }}
            >
              {page}
            </li>
          );
        }
        if (page === pageNumber) {
          return (
            <PaginationItem to={to} disabled number>
              {page}
            </PaginationItem>
          );
        }
        return (
          <PaginationItem to={to} hover>
            {page}
          </PaginationItem>
        );
      })
    }
    <PaginationItem
      to={`${dir}/${pageNumber + 1}`}
      disabled={pageNumber === totalPages ? true : false}
      hover={pageNumber === totalPages ? false : true}
    >
      <span
        class="material-icons"
        style={{
          fontSize: "16px",
          paddingTop: "7px",
          color: COLOR.textColor.primary,
          opacity: pageNumber === totalPages ? '0.4' : '1'
        }}
      >
        chevron_right
      </span>
    </PaginationItem>
  </ul>
</nav>
