---
import type { GetStaticPaths } from "astro";
import HomePage from "/presentation/components/HomePage/index.astro";
import Layout from "/presentation/layouts/Layout.astro";
import { AstroSeo } from "@astrolib/seo";

import { NewtArticleRepository } from "/infrastructure/newt/ArticleRepository";
import { NewtYearMonthRepository } from "/infrastructure/newt/YearMonthRepository";
import { Page as PageDomain } from "/domain/models/page/Page";
import { GetYearmonthPaths } from "/usecase/getYearmonthPaths/GetYearmonthPaths";
import { GetYearmonthArticleList } from "/usecase/getYearmonthArticleList/GetYearmonthArticleList";
import { NewtCategoryRepository } from "/infrastructure/newt/CategoryRepository";
import { NewtTagRepository } from "/infrastructure/newt/TagRepository";

export const getStaticPaths = (async ({ paginate }) => {
	const getYearmonthPaths = new GetYearmonthPaths(
		new NewtArticleRepository(),
		new NewtYearMonthRepository(),
	);
	const paths = (await getYearmonthPaths.execute()).flatMap(({ yearmonth, articles }) =>
		paginate(
			articles.map((article) => ({ id: article.articleId })),
			{
				params: { yearmonth: yearmonth.value },
				pageSize: PageDomain.ARTICLE_NUM_PER_PAGE,
			},
		),
	);
	return paths;
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { yearmonth: yearmonthValue } = Astro.params;
const getYearmonthArticleList = new GetYearmonthArticleList(
	new NewtArticleRepository(),
	new NewtCategoryRepository(),
	new NewtTagRepository(),
	new NewtYearMonthRepository(),
);
const {
	articles,
	categories,
	tags,
	yearmonths,
	currentPage,
	currentPath,
	totalCount,
	yearmonth,
} = await getYearmonthArticleList.execute({
	page: new PageDomain(page.currentPage),
	yearmonth: yearmonthValue,
});
---

<AstroSeo
	title="Asunaro Blog"
	description=`${yearmonth}の記事一覧`
	openGraph={{
		title: "Asunaro Blog",
		description: `${yearmonth}の記事一覧`,
		images: [
			{
				url: "https://storage.googleapis.com/p_641d41d3a492e5ac4c9226fe/3ab0e1e0-e610-4dc9-acb4-f7917add37b1/asunaro.png",
			},
		],
	}}
/>
<Layout>
	<main>
		<HomePage
			articles={articles}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
			yearmonth={yearmonth}
			currentPage={currentPage}
			currentPath={currentPath}
		/>
	</main>
</Layout>
