---
import type { GetStaticPaths } from "astro";
import HomePage from "/components/HomePage/index.astro";
import { newtClient } from "/libs/client";
import Layout from "/layouts/Layout.astro";
import { fetchBlogData } from "/libs/fetch/fetchBlogData";
import type { ArticleItem, CategoryItem } from "/types";
import { AstroSeo } from '@astrolib/seo'

export const getStaticPaths = (async ({ paginate }) => {
  const categories = (
    await newtClient.getContents<CategoryItem>({
      appUid: 'asunaroblog',
      modelUid: 'category',
      query: { limit: 100 },
    })
  ).items
	const paths = categories.flatMap(({ _id, ref }) => {
		return paginate(ref.map(r => (r as ArticleItem)._id), { params: { category: _id }, pageSize: 10 });
	});
	return paths;
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { category: categoryId } = Astro.params;
const { blogs, categories, tags, yearmonths, totalCount } = await fetchBlogData(
	{ pageNumber: page.currentPage, categoryId },
);
const categoryItem = categories.filter((cat) => cat._id === categoryId)[0]
---

<AstroSeo
	title="Asunaro Blog"
	description="広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。"
	openGraph={{
		title: "Asunaro Blog",
		description: "広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。",
		images: [
			{
				url: "https://storage.googleapis.com/p_641d41d3a492e5ac4c9226fe/3ab0e1e0-e610-4dc9-acb4-f7917add37b1/asunaro.png"
			},
		],
	}}
/>
<Layout>
	<main>
		<HomePage
			pageNumber={page.currentPage}
			blogs={blogs}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
			categoryItem={categoryItem}
		/>
	</main>
</Layout>
