---
import type { GetStaticPaths } from "astro";
import HomePage from "/components/HomePage/index.astro";
import { newtClient } from "/libs/client";
import Layout from "/layouts/Layout.astro";
import { fetchBlogData } from "/libs/fetch/fetchBlogData";
import { AstroSeo } from '@astrolib/seo'

export const getStaticPaths = (async ({ paginate }) => {
	const totalNum = (
		await newtClient.getContents({ appUid: "asunaroblog", modelUid: "article" })
	).total;
	const range = (start: number, end: number) =>
		[...Array(end - start + 1)].map((_, i) => start + i);
	const paths = range(1, totalNum);
	return paginate(paths, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props
const { blogs, categories, tags, yearmonths, totalCount } = await fetchBlogData(
	{ pageNumber: page.currentPage},
);
---

<AstroSeo
	title="Asunaro Blog"
	description="広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。"
	openGraph={{
		title: "Asunaro Blog",
		description: "広告代理店で働いている新米エンジニアの技術ブログです。主にWeb技術で遊んでいます。日々楽しみながら学んでいくことを目標としています。",
		images: [
			{
				url: "https://storage.googleapis.com/p_641d41d3a492e5ac4c9226fe/3ab0e1e0-e610-4dc9-acb4-f7917add37b1/asunaro.png"
			},
		],
	}}
/>
<Layout>
	<main>
		<HomePage
			pageNumber={page.currentPage}
			blogs={blogs}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
		/>
	</main>
</Layout>
