---
import Layout from "../layouts/Layout.astro";
import { fetchBlogData } from "../libs/fetch/fetchBlogData";
import HomePage from "/components/HomePage/index.astro";

const { blogs, categories, tags, yearmonths, totalCount } = await fetchBlogData({ pageNumber: 1 })
---

<Layout title="Welcome to Astro.">
	<main>
		<HomePage
			pageNumber={1}
			blogs={blogs}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
		/>
	</main>
</Layout>
