---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { fetchBlogData } from "../libs/fetch/fetchBlogData";
import HomePage from "/components/HomePage/index.astro";
import { ARTICLE_NUM_PER_PAGE } from "/constants";

const { page } = Astro.props

export const getStaticPaths = (async ({ paginate }) => {
	const pages = ['a']
	return paginate(pages, { pageSize: ARTICLE_NUM_PER_PAGE });
}) satisfies GetStaticPaths;
const { blogs, categories, tags, yearmonths, totalCount } = await fetchBlogData({ pageNumber: 1 })
---

<Layout title="Welcome to Astro.">
	<main>
		<HomePage
			pageNumber={1}
			blogs={blogs}
			categories={categories}
			tags={tags}
			yearmonths={yearmonths}
			totalCount={totalCount}
		/>
	</main>
</Layout>
