---
import { pageIcons } from "/constants";
import NavigationMenu from './NavigationMenu/index.astro'
import type { Category } from "/domain/models/article/category/Category";

type Props = {
  logo: string;
  categories: Category[];
};

const props = Astro.props;
---

<header
  class="bg-slate-500 flex justify-center h-[92px] md:h-[64px] px-[32px]"
>
  <div class="xl:max-w-screen-xl w-full h-full">
    <div class="flex md:hidden justify-between h-full items-center">
      <NavigationMenu categories={props.categories} />
      <p class="font-logo text-white" style={{ fontSize: "24px" }}>
        <a href="/" rel="noopener noreferrer">
          {props.logo}
        </a>
      </p>
      <div></div>
    </div>
    <div class="hidden md:block h-full">
      <div class="flex gap-10 items-center h-full">
        {
          props.categories.map((category, index) => (
            <div>
              <a
                href={category.id ? `/category/${category.id}/1` : "/"}
                class="flex text-lg text-white hover:backdrop-brightness-[1.2] p-2 transition"
                rel="noopener noreferrer"
              >
                <div class="mt-[1.5px] mr-1"><span class='material-icons'>{pageIcons[index]}</span></div>
                <div class="">{category.name}</div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</header>
